<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="46679bryantylai.HazeMY" Publisher="CN=7E5D9C95-324C-4146-8930-4F2D9EEED635" Version="1.1.0.5" />
  <Properties>
    <DisplayName>Haze MY</DisplayName>
    <PublisherDisplayName>bryantylai</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HazeWin8.App">
      <m2:VisualElements DisplayName="Haze MY" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="HazeWin8" ForegroundText="light" BackgroundColor="#99D9EA">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#99D9EA" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>